* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    
}

html {
    background: linear-gradient(#79094f, #00d4ff);
    font-size: 62.5%; /* 10px*/
}

body {
    font-family: Poppins, sans-serif;
    margin: 0 auto;
    width: 90%;
}

/* header */

header {
   color: white;
   margin-top: 1.5rem;
   margin-bottom: 2.5rem;
}

header > * {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h1 i {
    padding-right: 1rem;
    font-size: 3rem;
}

p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

header > p {
    font-weight: 200;
}


/* form */
.survey-form {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    margin: 0 auto;
    width: 60%;
}

.survey-form fieldset {
    border: none;
}

.survey-form .fields {
    position: relative;
    padding: 2rem;
}

.survey-form select {
   
}

.survey-form select option:first-child {
    display: none;
}

.survey-form input[type="text"],
.survey-form input[type="email"],
.survey-form input[type="date"],
.survey-form input[type="tel"],
.survey-form select {
    display: flex;
    margin-top: 1rem;
    padding: 1.5rem;
    border: 0.1rem solid #dfe0e0;
    width: 100%;
    flex-basis: 100%;
    height: 4.7rem;
}

/* when user clicks on form element */
.survey-form input[type="text"]:focus,
.survey-form input[type="email"]:focus,
.survey-form input[type="date"]:focus,
.survey-form input[type="tel"]:focus,
.survey-form select:focus,
.survey-form textarea:focus {
    border: 0.1rem solid #79094f;
}

/* placeholders */
.survey-form input[type="text"]::placeholder,
.survey-form input[type="email"]::placeholder,
.survey-form input[type="date"]::placeholder,
.survey-form input[type="tel"]::placeholder,
.survey-form textarea::placeholder,
.survey-form select:invalid {
    color: #858688;
}

/* textarea */
.survey-form textarea {
    border: 0.1rem solid #dfe0e0;
    margin-top: 1.5rem;
    padding: 1.5rem;
    resize: none; /* user can't resize textarea */
    width: 100%;
    height: 15rem;
}

/* buttons */

.survey-form .buttons {
    padding: 2rem;
    border: 0.1rem solid #eceff2;
}

.survey-form .btn {
    border: 0;
    border-radius: 2.5rem;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

.survey-form .btn,
.survey-form .btn.alt:hover {
    background-color: #79094f;
    color: #fff;
}

.survey-form .btn:hover,
.survey-form .btn.alt {
    background-color: #fff;
    border: 0.1rem solid #79094f;
    border-radius: 2.5rem;
    color: #79094f; 
}

.survey-form label, 
.survey-form p {
    color: rgba(0,0,0,0.7);
    font-size: 1.4rem;
    font-weight: 600;
}

/* steps/questions */
.survey-form .steps {
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    position: relative;
    width: calc(100%-3.5rem);
}
.survey-form .steps::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f2f4f7;
    margin: 1rem auto 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.survey-form .steps .step {
    background-color: #f2f4f7;
    border: 0.3rem solid  #f2f4f7;
    border-radius: 5rem;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 1;
}

.survey-form .steps .step.current {
    background-color: #79094f;
}

.survey-form .steps .step.complete {
    background-color: #00d4ff;
}

/* options */

.survey-form .options {
    display: flex;
    justify-content: space-between;
    padding:  0.5rem 0;
}

.survey-form .options input[type="radio"]:checked,  /* removes default dots of radio buttons */
.survey-form .options input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.survey-form .options input[type="radio"]:checked + label, /* using + selects adjacent label of that radio button*/
.survey-form .options input[type="radio"]:not(:checked) + label {
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    color: #8e939b;
    z-index: 5;
}

.survey-form .options input[type="radio"]:checked + label:before,
.survey-form .options input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid #dfe0e0;
    border-radius: 100%;
    background: #dfe0e0;
    z-index: -1;
}

.survey-form .options input[type="radio"]:checked + label::after,
.survey-form .options input[type="radio"]:not(:checked) + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: #79094f;
    z-index: -1;
}

.survey-form .options input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

.survey-form .options input[type="radio"]:checked + label {
    color: #fff;
}

.survey-form .rating input[type="radio"]:checked + label:after {
    opacity: 1;
}

/* rating footer */

.survey-form .rating-footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #8e939b;
    padding: 1.5rem 0 2.5rem;
}

/* group */
.survey-form .group {
    display: flex;
    flex-flow: column; /* flex-direction +  flex-wrap */
    justify-content: center;
    padding-bottom: 1.5rem;
}

.survey-form .group label {
    align-items: center;
    display: flex;
    height: 2.5rem;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;   
}

.survey-form .group input {
    margin-right: 1rem;
}


.survey-form .group input[type="radio"]:hover,
.survey-form .group input[type="checkbox"]:hover {
    border: 0.2rem solid #79094f;
}

.survey-form .group input[type="radio"]:checked,
.survey-form .group input[type="checkbox"]:checked {

    border: 0.2rem solid #79094f;
    background-color: #79094f;
}


