* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    
}

html {
    font-size: 62.5%; /* 10px*/
}
body {
    font-family: Poppins, sans-serif;
    margin: 0 auto;
    width: 90%;

}

/* header */

header {
   margin-top: 1.5rem;
   margin-bottom: 2.5rem;
}

header > * {
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

p {
    font-size: 2rem;
}

header > p {
    font-weight: 200;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul > li {
    font-size: 2rem;
    list-style: none;

}

span {
    font-weight: 400;
}